
{% if user_name %}
<h1> Blog  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login User: {{user_name}}</h1><br>
{% else %}
<h1> Blog </h1><br>
{% endif %}

<a href="{% url 'blog:blog_list' %}">My Blog Page</a><br>

<a href = "{% url 'blog:sign_up' %}"> Sign Up </a> <br>
<a href = "{% url 'blog:login' %}"> Login </a> <br>
<a href = "{% url 'blog:logout' %}"> Logout </a> <br>

{%  if blog_list %}
	<ul>
	{% for blog in blog_list %}
		<li><a href="{%  url 'blog : blog_pg' blog.id 0 %}">{{ blog.name }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No posts are available</p>
{% endif %}